Player Team Role Credits Points

In [4]:
import pandas as pd

In [5]:
allTeam = pd.read_csv("IPL_MVP_2023_crop.csv")
allTeam.head(5)

,Unnamed: 0.1,Unnamed: 0,Player,Team,Uptox_Points,Matches,Runs,Wkts
0,0,0,Shubman Gill,GT,966.4,17,890,-
1,1,1,Faf du Plessis,RCB,831.3,14,730,-
2,2,2,Rashid Khan,GT,771.9,17,130,27
3,3,3,Yashasvi Jaiswal,RR,731.9,14,625,-
4,4,4,Mohammed Shami,GT,726.4,17,5,28

In [6]:
# Replace rows(_) with 0 of "Wkts" column
allTeam['Wkts'] = allTeam['Wkts'].replace('-', 0)
allTeam.head(5)

,Unnamed: 0.1,Unnamed: 0,Player,Team,Uptox_Points,Matches,Runs,Wkts
0,0,0,Shubman Gill,GT,966.4,17,890,0
1,1,1,Faf du Plessis,RCB,831.3,14,730,0
2,2,2,Rashid Khan,GT,771.9,17,130,27
3,3,3,Yashasvi Jaiswal,RR,731.9,14,625,0
4,4,4,Mohammed Shami,GT,726.4,17,5,28

In [7]:
fc = (allTeam["Team"] == "MI")
mi = allTeam.loc[fc, ["Player", "Uptox_Points", "Runs", "Wkts"]]
print(mi.sort_values(by = "Uptox_Points", ascending = False))

                Player  Uptox_Points  Runs Wkts
7        Cameron Green         687.4   452    6
8     Suryakumar Yadav         679.8   605    0
10       Piyush Chawla         657.5    25   22
24        Ishan Kishan         458.9   454    0
33         Tilak Varma         427.1   343    0
46   Jason Behrendorff         373.4     6   14
62       Akash Madhwal         290.5     0   14
64        Rohit Sharma         284.6   332    0
83       Nehal Wadhera         226.2   241    0
90           Tim David         210.9   231    0
103    Kumar Kartikeya         153.3     6    5
104     Riley Meredith         151.9     0    7
127       Jofra Archer          92.7     4    2
129    Hrithik Shokeen          90.7    23    3
140    Arjun Tendulkar          75.8    13    3
143       Chris Jordan          64.2     6    3
144        Arshad Khan          63.1    18    5
173        Duan Jansen          11.6     0    1
182       Vishnu Vinod           7.3    37    0
189     Tristan Stubbs           3.6    25    1
198       Raghav Goyal          -1.7     0    0

In [8]:
mi_data = {"Player":["Cameron Green", "Suryakumar Yadav", "Piyush Chawla", "Ishan Kishan", "Tilak Varma", "Jason Behrendorff", "Akash Madhwal", "Rohit Sharma", "Tim David", "Chris Jordan", "Nehal Wadhera", "Jofra Archer"], 
        "Role":["Allrounder", "Batter", "Bowler", "Keeper", "Batter", "Bowler", "Bowler", "Batter", "Batter", "Bowler", "Bowler", "Allrounder"],
        "Team":["MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI", "MI"],  
        "Credits":[9.0, 9.5, 8.0, 10.5, 9.0, 9.0, 9.0, 8.5, 8.5, 10.5, 10.5, 10.5], 
        "Points":[687.4, 679.8, 657.5, 458.9, 427.1, 373.4, 290.5, 284.6, 210.9, 64.2, 226.2, 92.7]}
mi_df = pd.DataFrame(mi_data)
mi_df.head(12)

               Player        Role Team  Credits  Points
0       Cameron Green  Allrounder   MI      9.0   687.4
1    Suryakumar Yadav      Batter   MI      9.5   679.8
2       Piyush Chawla      Bowler   MI      8.0   657.5
3        Ishan Kishan      Keeper   MI     10.5   458.9
4         Tilak Varma      Batter   MI      9.0   427.1
5   Jason Behrendorff      Bowler   MI      9.0   373.4
6       Akash Madhwal      Bowler   MI      9.0   290.5
7        Rohit Sharma      Batter   MI      8.5   284.6
8           Tim David      Batter   MI      8.5   210.9
9        Chris Jordan      Bowler   MI     10.5    64.2
10      Nehal Wadhera      Bowler   MI     10.5   226.2
11       Jofra Archer  Allrounder   MI     10.5    92.7

In [9]:
fc = (allTeam["Team"] == "CSK")
csk = allTeam.loc[fc, ["Player", "Uptox_Points", "Runs", "Wkts"]]
print(csk.sort_values(by = "Uptox_Points", ascending = False))

                     Player  Uptox_Points  Runs Wkts
5           Ravindra Jadeja         718.6   190   20
11          Ruturaj Gaikwad         651.9   590    0
12             Devon Conway         599.9   672    0
36         Tushar Deshpande         402.8     0   21
37           Ajinkya Rahane         399.5   326    0
41              Shivam Dube         391.9   418    0
51                Moeen Ali         338.0   124    9
55      Matheesha Pathirana         315.5     0   20
60            Deepak Chahar         304.6     1   13
67       Maheesh Theekshana         271.1     0   11
110                MS Dhoni         141.9   104    0
111           Ambati Rayudu         141.2   158    0
121        Mitchell Santner         112.9     2    3
128             Akash Singh          92.4     0    5
131  Rajvardhan Hangargekar          87.2     0    3
170        Dwaine Pretorius          13.6     0    0
171          Sisanda Magala          13.5     0    1
205              Ben Stokes          -9.8    15    0

In [13]:
csk_data = {"Player":["Ravindra Jadeja", "Ruturaj Gaikwad", "Devon Conway", "Tushar Deshpande", "Ajinkya Rahane", "Shivam Dube", "Moeen Ali", "Matheesha Pathirana", "Deepak Chahar", "Maheesh Theekshana", "MS Dhoni", "Ambati Rayudu"], 
        "Role":["Allrounder", "Batter", "Batter", "Bowler", "Batter", "Allrounder", "Allrounder", "Bowler", "Bowler", "Bowler", "Keeper", "Batter"],
        "Team":["CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK", "CSK"],  
        "Credits":[9.0, 9.5, 8.0, 10.5, 9.0, 9.0, 9.0, 8.5, 8.5, 10.5, 10.5, 10.5], 
        "Points":[718.6, 651.9, 599.9, 402.8, 399.5, 391.9, 338.0, 315.5, 304.6, 271.1, 141.9, 141.2]}
csk_df = pd.DataFrame(csk_data)
csk_df.head(12)

                 Player        Role Team  Credits  Points
0       Ravindra Jadeja  Allrounder  CSK      9.0   718.6
1       Ruturaj Gaikwad      Batter  CSK      9.5   651.9
2          Devon Conway      Batter  CSK      8.0   599.9
3      Tushar Deshpande      Bowler  CSK     10.5   402.8
4        Ajinkya Rahane      Batter  CSK      9.0   399.5
5           Shivam Dube  Allrounder  CSK      9.0   391.9
6             Moeen Ali  Allrounder  CSK      9.0   338.0
7   Matheesha Pathirana      Bowler  CSK      8.5   315.5
8         Deepak Chahar      Bowler  CSK      8.5   304.6
9    Maheesh Theekshana      Bowler  CSK     10.5   271.1
10             MS Dhoni      Keeper  CSK     10.5   141.9
11        Ambati Rayudu      Batter  CSK     10.5   141.2

In [14]:
# Merge the two tables on the common column names
merged_df = pd.concat([mi_df, csk_df],axis=0)
merged_df.head(24)

                 Player        Role Team  Credits  Points
0         Cameron Green  Allrounder   MI      9.0   687.4
1      Suryakumar Yadav      Batter   MI      9.5   679.8
2         Piyush Chawla      Bowler   MI      8.0   657.5
3          Ishan Kishan      Keeper   MI     10.5   458.9
4           Tilak Varma      Batter   MI      9.0   427.1
5     Jason Behrendorff      Bowler   MI      9.0   373.4
6         Akash Madhwal      Bowler   MI      9.0   290.5
7          Rohit Sharma      Batter   MI      8.5   284.6
8             Tim David      Batter   MI      8.5   210.9
9          Chris Jordan      Bowler   MI     10.5    64.2
10        Nehal Wadhera      Bowler   MI     10.5   226.2
11         Jofra Archer  Allrounder   MI     10.5    92.7
0       Ravindra Jadeja  Allrounder  CSK      9.0   718.6
1       Ruturaj Gaikwad      Batter  CSK      9.5   651.9
2          Devon Conway      Batter  CSK      8.0   599.9
3      Tushar Deshpande      Bowler  CSK     10.5   402.8
4        Ajinkya Rahane      Batter  CSK      9.0   399.5
5           Shivam Dube  Allrounder  CSK      9.0   391.9
6             Moeen Ali  Allrounder  CSK      9.0   338.0
7   Matheesha Pathirana      Bowler  CSK      8.5   315.5
8         Deepak Chahar      Bowler  CSK      8.5   304.6
9    Maheesh Theekshana      Bowler  CSK     10.5   271.1
10             MS Dhoni      Keeper  CSK     10.5   141.9
11        Ambati Rayudu      Batter  CSK     10.5   141.2

In [15]:
merged_df.to_csv("sample_two_team.csv")